@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 174px 153px 178px 121px;
background-color:antiquewhite;
}

.container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #000;
  font-family: Roboto Slab;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.385%;
  margin-bottom: 25px;
}

.container-1 p {
  width: 662px;
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.container-2 {
  margin-top: 94px;
  display: flex;
  align-items: center;
}

.image-2 {
  width: 232px;
  height: 203px;
  margin-right: 132px;
}

.image-1 {
  width: 314px;
  height: 315px;
}
ul {
  display: flex;
}

li {
  list-style-type: none;
  margin-right: 95px;
}

li h2 {
  color: #000;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
li p {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
