@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 174px 153px 178px 121px;
  background-color: antiquewhite;
}

.container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #000;
  font-family: Roboto Slab;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.385%;
  margin-bottom: 25px;
}

.container-1 p {
  width: 662px;
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.container-2 {
  margin-top: 94px;
  display: flex;
  align-items: center;
}

.image-2 {
  width: 232px;
  height: 203px;
  margin-right: 132px;
}

.image-1 {
  width: 314px;
  height: 315px;
}
ul {
  display: flex;
}

li {
  list-style-type: none;
  margin-right: 95px;
}

li h2 {
  color: #000;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
li p {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media screen and (max-width: 1024px) {
  .container {
    background-color: cornflowerblue;
    padding: 140px 89px 103px 71px;
  }

  h1 {
    font-size: 32px;
    margin-bottom: 11px;
    width: 211.396px;
  }

  .container-1 p {
    width: 383.408px;
    font-size: 14px;
  }
  .container-2 {
    margin-top: 55px;
  }

  .image-2 {
    width: 232px;
    height: 203px;
    margin-right: 75px;
  }
  .image-1 {
    width: 181.858px;
    height: 182.438px;
  }
  li {
    margin-right: 55px;
  }
  li h2 {
    font-size: 15px;
    width: 86.875px;
  }

  @media screen and (max-width: 768px) {
    .container {
      background-color: darkgreen;
      padding: 79px 31px 103px 71px;
    }
    h1 {
      font-size: 26px;
      margin-bottom: 9px;
      width: 170.08px;
    }
    .container-1 p {
      width: 308.474px;
      font-size: 12px;
    }
    .container-1 {
      display: flex;
      flex-direction: column;
    }
    .container-2 {
      margin-top: 56px;
    }
    .image-2 {
      display: none;
    }

    .image-1 {
      width: 146.315px;
      height: 146.781px;
    }
    li {
      margin-right: 34px;
    }
    li h2 {
      font-size: 12px;
      width: 69.896px;
    }
  }
}
